@media (max-width: 78em) {
  .img-skills {
    max-width: 16rem;
    max-height: 16rem;
  }
}

/* 944 px */
@media (max-width: 59em) {
  .img-skills {
    max-width: 10rem;
    max-height: 10rem;
  }
}

/* 704 px */
@media (max-width: 44em) {
  .img-skills {
    max-width: 18rem;
    max-height: 18rem;
  }
  .skill-row {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.4rem;
  }
  .skill-l-r img {
    grid-row: 1;
  }

  .skill-l-r .content {
    grid-row: 2;
    grid-column: 1;
  }

  .skill-r-l img {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
  }

  .skill-r-l .content {
    grid-row: 2;
    grid-column: 1;
  }
}

@media (max-width: 33em) {
  html {
    font-size: 56%;
  }
  .profile-img {
    width: 70%;
  }
  .greeting-txt {
    width: 90%;
  }
  .skills {
    /* background-color: #e4f9f5; */
    padding: 2rem;
  }

  .skill-row {
    background-color: #fff;
    width: 80%;
    /* text-align: center; */
  }
  .cta {
    padding: 4.8rem 1rem;
  }
  .footer {
    padding: 6.4rem 2rem;
  }
}
